*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center; 
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  align-items: end;
  width: 100%;
  gap: 30px;
  margin: auto;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.content__list {
  position: relative;
  height: 300px;
  width: 415px;
  overflow-y: scroll;
  scrollbar-color: #000 transparent;
}

.content__details {
  width: 100%;
  height: 100%;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: auto; /* не получается высоту изменить */
  margin-bottom: 20px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  height: 103px;
  width: 194px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  height: 100%;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}

.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
  display: block;
  margin: 2px;
}

.content__card-link:active {
  background-color: #007bff; 
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus-visible {
  border: 1px solid #fff;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 192px;    
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

fieldset {
  border: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  align-items: start;
}

.search-form__label {
  cursor: pointer;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-form__label:has(input[type="text"]):hover {
  text-decoration: none; 
}

.search-form__label:hover {
  text-decoration: underline;
}

.search-form__textfield {
  appearance: none;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  width: 225px;
  background-color: transparent;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #fff; 
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  border: 1px solid #fff; 
}

.search-form__pseudo-checkbox {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border: 1px solid #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: ''; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;   
  height: 16px;  
  background-color: #fff; 
}

.button {
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  background-color: transparent;
  border: 1px solid #fff;
  cursor: pointer;
  padding: 6px;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
}

.search-form__submit-button {
  width: 195px;
  height: 34px;
  align-self: end;
}

.more-button {
  width: 100%;
}

.content__video-card-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  overflow: hidden;
}